{% extends 'main.html'%}

{% load staticfiles %}


{% block content %}

<section>
      
    <h1>
        Saiba tudo sobre a NASA
    </h1>
    
</section>
<div>
    <nav>
    <img src="https://www.nasa.gov/sites/default/files/thumbnails/image/nasa-logo-web-rgb.png"alt="">
    </nav>
    <div>
        <img  src="https://cdn.pixabay.com/photo/2016/11/29/05/45/astronomy-1867616__340.jpg" alt="">
    </div>

    
    <h2>NASA</h2>
    <p>A National Aeronautics and Space Administration (NASA) ou Administração Nacional da Aeronáutica e Espaço é uma agência do Governo Federal dos Estados Unidos responsável pela pesquisa e desenvolvimento de tecnologias e programas de exploração espacial.</p>

    

    
    
    {% endblock %}